body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1063px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:926px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:926px;
}
#u840 {
  position:absolute;
  left:2px;
  top:455px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:390px;
  top:6px;
  width:678px;
  height:316px;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u844 {
  position:absolute;
  left:100px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u845 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:30px;
}
#u846 {
  position:absolute;
  left:227px;
  top:0px;
  width:446px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:2px;
  top:8px;
  width:442px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u848 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:64px;
}
#u849 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:64px;
}
#u850 {
  position:absolute;
  left:100px;
  top:30px;
  width:127px;
  height:64px;
}
#u851 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:64px;
}
#u852 {
  position:absolute;
  left:227px;
  top:30px;
  width:446px;
  height:64px;
  text-align:left;
  line-height:20px;
}
#u853 {
  position:absolute;
  left:2px;
  top:22px;
  width:442px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:89px;
}
#u854 {
  position:absolute;
  left:0px;
  top:94px;
  width:100px;
  height:89px;
}
#u855 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:89px;
}
#u856 {
  position:absolute;
  left:100px;
  top:94px;
  width:127px;
  height:89px;
}
#u857 {
  position:absolute;
  left:2px;
  top:37px;
  width:123px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:89px;
}
#u858 {
  position:absolute;
  left:227px;
  top:94px;
  width:446px;
  height:89px;
  text-align:left;
  line-height:20px;
}
#u859 {
  position:absolute;
  left:2px;
  top:14px;
  width:442px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u860 {
  position:absolute;
  left:0px;
  top:183px;
  width:100px;
  height:44px;
}
#u861 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:44px;
}
#u862 {
  position:absolute;
  left:100px;
  top:183px;
  width:127px;
  height:44px;
}
#u863 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:44px;
}
#u864 {
  position:absolute;
  left:227px;
  top:183px;
  width:446px;
  height:44px;
  text-align:left;
  line-height:20px;
}
#u865 {
  position:absolute;
  left:2px;
  top:2px;
  width:442px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u866 {
  position:absolute;
  left:0px;
  top:227px;
  width:100px;
  height:84px;
}
#u867 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:84px;
}
#u868 {
  position:absolute;
  left:100px;
  top:227px;
  width:127px;
  height:84px;
}
#u869 {
  position:absolute;
  left:2px;
  top:34px;
  width:123px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:84px;
}
#u870 {
  position:absolute;
  left:227px;
  top:227px;
  width:446px;
  height:84px;
  text-align:left;
  line-height:20px;
}
#u871 {
  position:absolute;
  left:2px;
  top:12px;
  width:442px;
  word-wrap:break-word;
}
